/* $Id: elfinder.d7.css,v 1.1.4.2 2010/11/10 00:31:19 ph0enix Exp $ */

.el-finder-nav ul {
	list-style-type:none!important;  
}

.el-finder-cwd label {
 font-weight:normal!important;
 overflow:visible!important;
}