# /etc/crontab: system-wide crontab
# Unlike any other crontab you don't have to run the `crontab'
# command to install the new version when you edit this file
# and files in /etc/cron.d. These files also have username fields,
# that none of the other crontabs do.

SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
# -Calum 24/06/11
#MAILTO=girtoncollegeboatclub@gmail.com
# -19/10/2011, Calum J. Eadie
MAILTO=it.officer.cron@girtoncollegeboatclub.com

# m h dom mon dow user	command
17 *	* * *	root    cd / && run-parts --report /etc/cron.hourly
25 6	* * *	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.daily )
47 6	* * 7	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.weekly )
52 6	1 * *	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.monthly )

# -19/09/2011, Calum J. Eadie
0 2    * * *   root    wget -O - -t 1 http://131.111.216.33/cron.php
0 3   * * *   root    /opt/dropbox+/cli_wrapper.sh start
20 3   * * 7   root    /opt/scripts/backup-www.sh
40 3   * * *   root    /opt/scripts/backup-mysql-gcbc.sh
0 4   * * *   root    /opt/dropbox+/cli_wrapper.sh stop

33 22    * * *   root    wget -O - -t 1 http://131.111.216.33/cron.php
